Readme:


We encourage you to explore more functionalities in 'Python for Data Analysis, 3E' by Wes McKinney, Chapter 5: 'Getting Started with pandas'.</br>
Link: https://wesmckinney.com/book/pandas-basics

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gergana.boycheva\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gergana.boycheva\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\gergana.boycheva\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------- ----------------------------- 3.1/11.5 MB 19.7 MB/s eta 0:00:01
   ------------------------- -------------- 7.3/11.5 MB 20.1 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 20.7 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 16.1 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2

In [2]:
import numpy as np
import pandas as pd

<h3><b>Task 1 </b></h3>
<p>
Create a one-dimentional Series object with values 4, 7, -5, 3 and index "d", "b", "a", "c". </br>
Return its values, then return its index.
</p>

In [3]:
import pandas as pd

# Create Series
data = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])

# Return values
print("Values:", data.values)

# Return index
print("Index:", data.index)

Values: [ 4  7 -5  3]
Index: Index(['d', 'b', 'a', 'c'], dtype='object')

<h3><b>Task 2 </b></h3>
<p>
Return the values from the above PandasArray that are greater than zero. </br>
</p>

In [4]:
import pandas as pd

# Create Series
data = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])

# Filter values greater than 0
positive_values = data[data > 0]

print(positive_values)

d    4
b    7
c    3
dtype: int64

<h3><b>Task 3 </b></h3>
<p>
Multiply each element in the Series object created above by 3. </br>
</p>

In [5]:
import pandas as pd

# Create Series
data = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])

# Multiply each element by 3
multiplied = data * 3

print(multiplied)

d    12
b    21
a   -15
c     9
dtype: int64

<h3><b>Task 4 </b></h3>
<p>
Another way to think about a Series is as a fixed-length, ordered dictionary, as it is a mapping of index values to data values. It can be used in many contexts where you might use a dictionary.</br>
E.g. we use dictionary key (not the value) to evaluate its presense.</br>
Try to find if value '-5' is in the Series first by using the value itself, then using its index.

</p>

In [6]:
import pandas as pd

# Create Series
data = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])

# Check if value -5 is in the Series (by value)
value_check = -5 in data.values

# Check if index 'a' (which holds -5) is in the Series (by index)
index_check = 'a' in data

print("Is -5 a value in the Series?:", value_check)
print("Is 'a' an index in the Series?:", index_check)

Is -5 a value in the Series?: True
Is 'a' an index in the Series?: True

<h3><b>Task 5 </b></h3>
<p>
Should you have data contained in a Python dictionary, you can create a Series from it by passing the dictionary. A Series can be converted back to a dictionary with its to_dict method.</br>
When you are only passing a dictionary, the index in the resulting Series will respect the order of the keys according to the dictionary's keys method, which depends on the key insertion order.  </br> </br>

Create a Series out of 'sdata' and return the result.</br>
Then use 'states' as index and return the result.</br>
</p>

In [8]:
import pandas as pd

sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"]

# Create Series from sdata
series1 = pd.Series(sdata)
print("Series from sdata:\n", series1)

# Create Series with states as index
series2 = pd.Series(sdata, index=states)
print("\nSeries with custom index 'states':\n", series2)

Series from sdata:
 Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Series with custom index 'states':
 California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

<h3><b>Task 6 </b></h3>
<p>
Return a boolean Series showing True where there is a missing value in the above Series. </br>
</p>

In [9]:
import pandas as pd

# Given data
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"]

# Create a Series using sdata and states as the index
series2 = pd.Series(sdata, index=states)
print("Series with custom index:")
print(series2)

# Identify missing values
missing = series2.isna()
print("\nMissing values (True = missing):")
print(missing)

Series with custom index:
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Missing values (True = missing):
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

<h3><b>Task 7 </b></h3>
<p>
Now return a boolean Series showing False where there is a missing value in the above Series. </br>
</p>

In [10]:
import pandas as pd

# Given data
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"]

# Create a Series using sdata and states as the index
series2 = pd.Series(sdata, index=states)
print("Series with custom index:")
print(series2)

# Return False where there is a missing value
not_missing = series2.notna()
print("\nNot missing values (False = missing):")
print(not_missing)

Series with custom index:
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Not missing values (False = missing):
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

<h3><b>Task 8 </b></h3>
<p>
1. Create a dataframe out of below dictionary. Before you do this, think if the dictionary keys will be the index or column names?</br>
2. Add a new column to the dataframe name 'dept' with values in range of 6. </br>
3. Add a new boolean column named 'eastern' with True value where 'state' is 'Ohio'.
</p>

In [11]:
import pandas as pd

data = {
    "state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
    "year": [2000, 2001, 2002, 2001, 2002, 2003],
    "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}

df = pd.DataFrame(data)

# Add new column 'dept'
df['dept'] = range(6)

# Add boolean column 'eastern' where state == 'Ohio'
df['eastern'] = df['state'] == "Ohio"

print(df)

    state  year  pop  dept  eastern
0    Ohio  2000  1.5     0     True
1    Ohio  2001  1.7     1     True
2    Ohio  2002  3.6     2     True
3  Nevada  2001  2.4     3    False
4  Nevada  2002  2.9     4    False
5  Nevada  2003  3.2     5    False

<h3><b>Task 9 </b></h3>
<p>
Use below nested dictionary to create a dataframe </br>
Mind the outer dictionary keys and the inner dictionary keys - which ones are the index and which ones are the column names?
</p>

In [12]:
import pandas as pd

populations = {
    "Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
    "Nevada": {2001: 2.4, 2002: 2.9}
}

df = pd.DataFrame(populations)
print(df)

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

<h3><b>Task 10 </b></h3>
<p>
Now swap the columns and the rows of the above dataframe. </br>
</p>

In [13]:
import pandas as pd

populations = {
    "Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
    "Nevada": {2001: 2.4, 2002: 2.9}
}

df = pd.DataFrame(populations)

# Transpose the DataFrame
df_transposed = df.T
print(df_transposed)

        2000  2001  2002
Ohio     1.5   1.7   3.6
Nevada   NaN   2.4   2.9

<h3><b>Task 11 </b></h3>
<p>
Convert above dataframe to numpy array. </br>
</p>

In [14]:
import pandas as pd

populations = {
    "Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
    "Nevada": {2001: 2.4, 2002: 2.9}
}

df = pd.DataFrame(populations)
df_transposed = df.T

# Convert to NumPy array
array = df_transposed.to_numpy()
print(array)

[[1.5 1.7 3.6]
 [nan 2.4 2.9]]

<h3><b>Task 12 </b></h3>
<p>
1. Create a series out of values 4.5, 7.2, -5.3, 3.6 with index "d", "b", "a", "c". </br>
2. Try to mutate the index by assigning a new value to index label 'a'. What kind of error do you receive? Analyze the result.</br>
3. Try to change the index to "a", "b", "c", "d" using direct assignment. Does it work? It should, as you do NOT mutate existing index object, but create a new one (you may run id(df.index) to prove it).</br>
4. Then try to directly assign values "a", "b", "c", "d", "e" (different length!) to the index. Do you receive an error? </br>
5. Repeat the reassignment from step 4 by using 'reindex' technique and return the result. Observe the missing values in it.</br>
</br>

</p>

In [15]:
import pandas as pd

# 1. Create a Series
s = pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "b", "a", "c"])
print("Original Series:")
print(s)

# 2. Try to mutate the index label 'a'
print("\nTrying to mutate a single index label:")
try:
    s.index[2] = "z"  # Attempt to change label "a" to "z"
except Exception as e:
    print("Error:", e)

# 3. Change the whole index to new values of same length
s.index = ["a", "b", "c", "d"]
print("\nSeries after replacing the entire index:")
print(s)

# 4. Try assigning an index with different length
print("\nTrying to assign index of different length:")
try:
    s.index = ["a", "b", "c", "d", "e"]
except Exception as e:
    print("Error:", e)

# 5. Use reindex to handle mismatched length
s_reindexed = s.reindex(["a", "b", "c", "d", "e"])
print("\nSeries after reindexing with an extra label:")
print(s_reindexed)

Original Series:
d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

Trying to mutate a single index label:
Error: Index does not support mutable operations

Series after replacing the entire index:
a    4.5
b    7.2
c   -5.3
d    3.6
dtype: float64

Trying to assign index of different length:
Error: Length mismatch: Expected axis has 4 elements, new values have 5 elements

Series after reindexing with an extra label:
a    4.5
b    7.2
c   -5.3
d    3.6
e    NaN
dtype: float64

<h3><b>Task 13 </b></h3>
<p>
1. Create a series with values "blue", "purple", "yellow" and index 0, 2, 4. </br> 
2. Change the index to the range of 6 and observe the missing values.</br> 
3. Repeat step 2 using 'ffill' method to fill the missing values. Analyse the result. </br>

</p>

In [16]:
import pandas as pd

# Step 1: Create the Series
s = pd.Series(["blue", "purple", "yellow"], index=[0, 2, 4])
print("Original Series:")
print(s)

# Step 2: Reindex to range of 6 (0 to 5)
s_reindexed = s.reindex(range(6))
print("\nReindexed Series (with missing values):")
print(s_reindexed)

# Step 3: Reindex again but use 'ffill' to forward fill missing values
s_ffill = s.reindex(range(6), method='ffill')
print("\nReindexed Series with forward fill:")
print(s_ffill)

Original Series:
0      blue
2    purple
4    yellow
dtype: object

Reindexed Series (with missing values):
0      blue
1       NaN
2    purple
3       NaN
4    yellow
5       NaN
dtype: object

Reindexed Series with forward fill:
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

<h3><b>Task 14 </b></h3>
<p>
1. Create a dataframe out of range of 9 in shape(3, 3) with index "a", "c", "d" and columns "Ohio", "Texas", "California". </br>
2. Then change the columns to "Texas", "Utah", "California". </br>
 

</p>

In [17]:
import pandas as pd
import numpy as np

# Step 1: Create the DataFrame
df = pd.DataFrame(
    np.arange(9).reshape(3, 3),
    index=["a", "c", "d"],
    columns=["Ohio", "Texas", "California"]
)
print("Original DataFrame:")
print(df)

# Step 2: Change the column names
df.columns = ["Texas", "Utah", "California"]
print("\nDataFrame with updated column names:")
print(df)

Original DataFrame:
   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

DataFrame with updated column names:
   Texas  Utah  California
a      0     1           2
c      3     4           5
d      6     7           8

<h3><b>Task 15 </b></h3>
<p>
1. Create a dataframe out of the range of 16 with shape(4, 4) with index "Ohio", "Colorado", "Utah", "New York" and columns "one", "two", "three", "four" </br>
2. Then return a new dataframe by dropping index 'Ohio' and columns 'one', 'two'.</br>
                
</p>

In [18]:
import pandas as pd
import numpy as np

# Step 1: Create the original DataFrame
df = pd.DataFrame(
    np.arange(16).reshape(4, 4),
    index=["Ohio", "Colorado", "Utah", "New York"],
    columns=["one", "two", "three", "four"]
)

print("Original DataFrame:")
print(df)

# Step 2: Drop index 'Ohio' and columns 'one', 'two'
new_df = df.drop(index="Ohio").drop(columns=["one", "two"])

print("\nDataFrame after dropping 'Ohio' and columns 'one', 'two':")
print(new_df)

Original DataFrame:
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

DataFrame after dropping 'Ohio' and columns 'one', 'two':
          three  four
Colorado      6     7
Utah         10    11
New York     14    15

<h3><b>Task 16 </b></h3>
<p>
1. Given below dataframe, return the data where value in column 'three' is greater than 5. </br>
2. Then assign zero to all values that are less then 5.
</p>

In [19]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                  index=["Ohio", "Colorado", "Utah", "New York"],
                  columns=["one", "two", "three", "four"])

# Step 1: Return rows where value in column 'three' is greater than 5
filtered_df = df[df['three'] > 5]
print("Rows where 'three' > 5:")
print(filtered_df)

# Step 2: Assign zero to all values that are less than 5
df[df < 5] = 0
print("\nDataFrame after assigning 0 to values < 5:")
print(df)

Rows where 'three' > 5:
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

DataFrame after assigning 0 to values < 5:
          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

<h3><b>Task 17</b></h3>
<p>
Using the dataframe from the previous task, return columns "one", "two", "three" only where values are greater than 5.</br>
First, use 'loc' oprator, then use 'iloc' operator. </br>
</p>

In [20]:
import pandas as pd
import numpy as np

# Recreate the DataFrame
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                  index=["Ohio", "Colorado", "Utah", "New York"],
                  columns=["one", "two", "three", "four"])

# Assign zero to all values less than 5 (as in the previous task)
df[df < 5] = 0

# --- Using loc ---
result_loc = df.loc[:, ['one', 'two', 'three']] > 5
print("Using loc (values > 5):")
print(df.loc[:, ['one', 'two', 'three']][result_loc])

# --- Using iloc ---
# Columns 'one', 'two', 'three' are at index positions 0, 1, 2
result_iloc = df.iloc[:, [0, 1, 2]] > 5
print("\nUsing iloc (values > 5):")
print(df.iloc[:, [0, 1, 2]][result_iloc])

Using loc (values > 5):
           one   two  three
Ohio       NaN   NaN    NaN
Colorado   NaN   NaN    6.0
Utah       8.0   9.0   10.0
New York  12.0  13.0   14.0

Using iloc (values > 5):
           one   two  three
Ohio       NaN   NaN    NaN
Colorado   NaN   NaN    6.0
Utah       8.0   9.0   10.0
New York  12.0  13.0   14.0

<h3><b>Task 18 </b></h3>
<p>
Now using the same dataframe, return the value located at row 'Utah' and column 'two' using 'at' or 'iat' operators. </br>
What is the difference between 'loc' and 'at' operators?
</p>

In [21]:
import pandas as pd
import numpy as np

# Recreate the DataFrame
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                  index=["Ohio", "Colorado", "Utah", "New York"],
                  columns=["one", "two", "three", "four"])

# Get value using `.at` (label-based, fast for single value access)
value_at = df.at["Utah", "two"]

# Get value using `.iat` (integer position based)
value_iat = df.iat[2, 1]  # 'Utah' is at row index 2, 'two' is at column index 1

print("Using .at:", value_at)
print("Using .iat:", value_iat)

Using .at: 9
Using .iat: 9

<h3><b>Task 19 </b></h3>
<p>
What will happen if you add below dataframes using '+' operator? </br>
Return the result. </br>
</p>

In [22]:
import pandas as pd

df1 = pd.DataFrame({"A": [1, 2]})
df2 = pd.DataFrame({"A": [3, 4]})

result = df1 + df2
print(result)

   A
0  4
1  6

<h3><b>Task 20 </b></h3><p>
What will happen if you add below dataframes (different column names) using '+' operator?  </br>
Return the result. </br>
</p>

In [23]:
import pandas as pd

df1 = pd.DataFrame({"A": [1, 2]})
df2 = pd.DataFrame({"B": [3, 4]})

result = df1 + df2
print(result)

    A   B
0 NaN NaN
1 NaN NaN

<h3><b>Task 21 </b></h3>
<p>
Now use the dataframes from the prior task and use 'add' method with argument 'fill_value=0' which substitutes the passed value for any missing values in the operation. </br>
</p>

In [25]:
import pandas as pd

df1 = pd.DataFrame({"A": [1, 2]})
df2 = pd.DataFrame({"B": [3, 4]})

result = df1.add(df2, fill_value=0)
print(result)

     A    B
0  1.0  3.0
1  2.0  4.0

<h3><b>Task 22 </b></h3>
<p>
Now for each value in df1 return the result of division operation '1/value':
 </br>
</p>

In [26]:
import pandas as pd

df1 = pd.DataFrame({"A": [1, 2]})

result = 1 / df1
print(result)

     A
0  1.0
1  0.5

<h3><b>Task 23 </b></h3>
<p>
1. Create a datafarme out of random float numbers using np.random.standard_normal in shape(4, 3) with columns list("bde") and index "Utah", "Ohio", "Texas", "Oregon"</br>
2. Define a custom function that returns a difference between maximum and minimum values of a given sequence.</br>
3. Apply the function to the dataframe. What is the default axis for this function? Try to change the axis and analyze the result.</br>
4. Now repeat the process using lambda function. 


</p>

In [27]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.standard_normal((4, 3)),
    columns=list("bde"),
    index=["Utah", "Ohio", "Texas", "Oregon"]
)

print("Original DataFrame:")
print(df)

Original DataFrame:
               b         d         e
Utah    0.415563 -1.291042 -0.095922
Ohio   -0.715992 -0.415218  0.101860
Texas  -0.171323 -1.314653  0.241072
Oregon  0.101271  0.549978  1.943246

<h3><b>Task 24 </b></h3>
<p>
Create a function that accepts an input float number like '3.475911' and returns a string formatted like '3.476'.</br>
Then apply it to each element of the dataframe created in the previous task. </br>
</p>

In [28]:
import pandas as pd
import numpy as np

# 1. Create the DataFrame
df = pd.DataFrame(
    np.random.standard_normal((4, 3)),
    columns=list("bde"),
    index=["Utah", "Ohio", "Texas", "Oregon"]
)

print("Original DataFrame:")
print(df)

# 2. Define a custom function
def max_min_diff(x):
    return x.max() - x.min()

# 3. Apply the function (default axis = 0, column-wise)
print("\nMax - Min (column-wise):")
print(df.apply(max_min_diff))

# Apply the function row-wise
print("\nMax - Min (row-wise):")
print(df.apply(max_min_diff, axis=1))

# 4. Repeat using lambda function
print("\nUsing lambda (column-wise):")
print(df.apply(lambda x: x.max() - x.min()))

print("\nUsing lambda (row-wise):")
print(df.apply(lambda x: x.max() - x.min(), axis=1))

Original DataFrame:
               b         d         e
Utah    0.876714  2.063650  0.350110
Ohio   -0.190138 -0.090167 -1.875415
Texas   0.079658 -0.513901  0.505569
Oregon -1.005598  0.873465  1.179791

Max - Min (column-wise):
b    1.882312
d    2.577551
e    3.055205
dtype: float64

Max - Min (row-wise):
Utah      1.713540
Ohio      1.785248
Texas     1.019470
Oregon    2.185388
dtype: float64

Using lambda (column-wise):
b    1.882312
d    2.577551
e    3.055205
dtype: float64

Using lambda (row-wise):
Utah      1.713540
Ohio      1.785248
Texas     1.019470
Oregon    2.185388
dtype: float64

<h3><b>Task 25 </b></h3>
<p>
1. Create a dataframe out of the range of 8 with shape(2, 4) with index "three", "one" and columns "d", "a", "b", "c".</br>
2. Sort it by its index in descending order.</br>
3. Then sort it by the column index.</br>
4. Then sort it by the values in columns 'a' and 'b'.</br>

</p>

In [29]:
import pandas as pd
import numpy as np

# 1. Create the DataFrame
df = pd.DataFrame(
    np.arange(8).reshape((2, 4)),
    index=["three", "one"],
    columns=["d", "a", "b", "c"]
)
print("Original DataFrame:")
print(df)

# 2. Sort by index in descending order
sorted_by_index = df.sort_index(ascending=False)
print("\nSorted by index (descending):")
print(sorted_by_index)

# 3. Sort by column index
sorted_by_columns = df.sort_index(axis=1)
print("\nSorted by column index:")
print(sorted_by_columns)

# 4. Sort by values in columns 'a' and 'b'
sorted_by_values = df.sort_values(by=["a", "b"])
print("\nSorted by values in columns 'a' and 'b':")
print(sorted_by_values)

Original DataFrame:
       d  a  b  c
three  0  1  2  3
one    4  5  6  7

Sorted by index (descending):
       d  a  b  c
three  0  1  2  3
one    4  5  6  7

Sorted by column index:
       a  b  c  d
three  1  2  3  0
one    5  6  7  4

Sorted by values in columns 'a' and 'b':
       d  a  b  c
three  0  1  2  3
one    4  5  6  7

<h3><b>Task 26 </b></h3>
<p>
1. Create a Series out of the range of 5 with index "a", "a", "b", "b", "c". </br>
2. Return a boolean value that indicates if the index values are unique.</br>
3. Return unique indexes only.</br>
4. Return unique data values only.</br>
</p>

In [30]:
import pandas as pd

# 1. Create a Series
s = pd.Series(range(5), index=["a", "a", "b", "b", "c"])
print("Original Series:")
print(s)

# 2. Check if index values are unique
print("\nIs the index unique?")
print(s.index.is_unique)

# 3. Return unique index values only
print("\nUnique index values:")
print(pd.unique(s.index))

# 4. Return unique data values only
print("\nUnique data values:")
print(pd.unique(s))

Original Series:
a    0
a    1
b    2
b    3
c    4
dtype: int64

Is the index unique?
False

Unique index values:
['a' 'b' 'c']

Unique data values:
[0 1 2 3 4]

<h3><b>Task 27 </b></h3>
<p>
1. Guess what data type it will return if you select data using a non-unique index and if using a unique index.</br>
2. Use the series from the previous task to test it and analyze the result.</br>

Hint: 
This can make your code more complicated, as the output type from indexing can vary based on whether or not a label is repeated! </br>
Same logic extends to a dataframe: check the next task.
</p>

In [31]:
import pandas as pd

# Recreate the Series
s = pd.Series(range(5), index=["a", "a", "b", "b", "c"])
print("Original Series:")
print(s)

# Accessing with non-unique index
non_unique_result = s["a"]
print("\nAccessing 'a' (non-unique index):")
print(non_unique_result)
print("Type:", type(non_unique_result))

# Accessing with unique index
unique_result = s["c"]
print("\nAccessing 'c' (unique index):")
print(unique_result)
print("Type:", type(unique_result))

Original Series:
a    0
a    1
b    2
b    3
c    4
dtype: int64

Accessing 'a' (non-unique index):
a    0
a    1
dtype: int64
Type: <class 'pandas.core.series.Series'>

Accessing 'c' (unique index):
4
Type: <class 'numpy.int64'>

<h3><b>Task 28 </b></h3>
<p>
1. Create a dataframe out of random float number using np.random.standard_normal in shape(5, 3) with index "a", "a", "b", "b", "c". </br>
2. Use 'loc' operator to return values for index 'a'. What data type it returns?</br>
3. Now use the same operator to return values for index 'c' this time. Does it return the same data type? Why?</br>
4. Finally use the same operator to return the value located at row 'c', column '0'. What data type it returns this time?
</p>

In [32]:
import pandas as pd
import numpy as np

# 1. Create DataFrame with shape (5, 3) and index ["a", "a", "b", "b", "c"]
df = pd.DataFrame(np.random.standard_normal((5, 3)), index=["a", "a", "b", "b", "c"])
print("DataFrame:\n", df)

# 2. Use 'loc' to return values for index 'a' and check data type
result_a = df.loc["a"]
print("\nValues for index 'a':\n", result_a)
print("Type for index 'a':", type(result_a))  # Expect DataFrame because index 'a' is not unique

# 3. Use 'loc' to return values for index 'c' and check data type
result_c = df.loc["c"]
print("\nValues for index 'c':\n", result_c)
print("Type for index 'c':", type(result_c))  # Expect Series because index 'c' is unique

# 4. Use 'loc' to get value at row 'c', column 0 and check data type
value_c0 = df.loc["c", 0]
print("\nValue at row 'c', column 0:", value_c0)
print("Type for single cell access:", type(value_c0))  # Expect float (scalar value)

DataFrame:
           0         1         2
a -0.126427 -1.608459  0.828073
a  0.054602 -2.261783 -0.154439
b  1.432216 -2.190502  0.229523
b  0.939479  0.077819  0.527027
c -1.840219 -2.054575 -0.291332

Values for index 'a':
           0         1         2
a -0.126427 -1.608459  0.828073
a  0.054602 -2.261783 -0.154439
Type for index 'a': <class 'pandas.core.frame.DataFrame'>

Values for index 'c':
 0   -1.840219
1   -2.054575
2   -0.291332
Name: c, dtype: float64
Type for index 'c': <class 'pandas.core.series.Series'>

Value at row 'c', column 0: -1.8402192088875944
Type for single cell access: <class 'numpy.float64'>